syntax: glob

.tox
build
dist
*.egg
*.egg-info
docs/_build
docs/plantuml.jar
cache
*.pyc
*~
*.swp
*.swo
.coverage
local_env.sh
coverage_html_report
files/staging
files/persisted_data
docker/coexecutor/*whl
app.yml
server.ini
job_managers.ini
*.pem
*.cert
*.key
.venv
*.log
*.pid
toolbox
dependencies
dependency_resolvers_conf.xml
job_metrics_conf.xml
.DS_Store
.idea
