# Optional requirements used by test cases
pycurl
kombu
pykube
boto3

# For testing
simple-job-files
pytest
webtest
coverage
stopit

# For dev
sphinx
sphinxcontrib-apidoc

# Used for code checking.
pyflakes
flake8

mypy<=1.0.1  # https://github.com/pydantic/pydantic/issues/5192
types-paramiko
types-setuptools
types-PyYAML
types-pycurl
types-requests
types-psutil
sentry-sdk

# For release
wheel
twine
