# Optional requirements used by test cases
## pycurl (Latest released version does not work with Python 3)
git+git://github.com/pycurl-devs/pycurl

# For Python 2.6 tests 
unittest2

# For testing
nose
webtest
coverage

# For dev
sphinx
