## Default job manager is queued and runs 1 concurrent job.
[manager:_default_]
type = queued_python
max_concurrent_jobs=1

## Create a named queued (example) and run as many concurrent jobs as
## server has cores.
#[manager:example]
#type=queued_python
#max_concurrent_jobs=*

## Disable server-side LWR queuing (suitable for older style LWR use
## when queues were maintained in Galaxy.)
#[manager:_default_]
#type=unqueued

## NOT YET IMPLEMENTED. PBS backed manager.
#[manager:_default_]
#type=queued_pbs

## NOT YET IMPLEMENTED. DRMAA backed manager.
#[manager:_default_]
#type=queued_drmaa
