webob
psutil
PasteDeploy
pyyaml
galaxy-job-metrics>=21.9.0
galaxy-objectstore>=19.9.0
galaxy-tool-util>=19.9.0
galaxy-util>=22.1.2
paramiko
typing-extensions
pydantic-tes>=0.1.5
pyjwt
tuspy

## Uncomment if using DRMAA queue manager.
#drmaa

## To use alternative Python web servers.
#circus
#chaussette
# -or-
#git+git://github.com/mozilla-services/chaussette.git
