### server:main section used by paster web server. More advanced,
### Python3 compatible circus setup configured using sections after
### app:main (circus, watcher:web, socket:web).

[server:main]
use = egg:Paste#http
## To use chaussette w/paster deploy (no circus), use follwoing: 
# use = egg:chaussette#main

## The port on which to listen.
port = 8913
## The hostname or IP address of the server.
host = localhost

## pem file to use to enable SSL. Set to * to generate one
## automatically.
# ssl_pem = host.pem

[app:main]
paste.app_factory = lwr.app:app_factory

## Directory to stage files to. This should likely be updated to point
## to an absolute path, such as /tmp/lwr_staging or C:\\lwr_staging
staging_directory = lwr_staging

## Private key or password that must be sent as part of the request to
## authorize use. If security is important, please use this in
## combination with SSL.
#private_key = changemeinproduction

## Define job managers (setup queues with various settings, etc...).
#job_managers_config = job_managers.ini

## Comment out to disable persistence.
persistence_directory = persisted_data

## How are ids assigned. galaxy (default) just passes through ids as
## is. Setting this uuid assigns each job a UUID, this is strongly
## encouraged if multiple Galaxy servers are targetting one LWR server.
#assign_ids = uuid

## Comma separated list of paths to toolbox files. If this is set, LWR
## will use the information contained in the tools to lock down what
## the LWR can execute. This absolutely *SHOULD* be enabled if the LWR
## server is being opened to the world. See the documentation
## (lwr.readthedocs.org) for more information about securing LWR.
# tool_config_files = toolbox/conf.xml

## Directory used to store incoming file cache.
# file_cache_dir = cache

## Configure circus and chaussette (if used).
[circus]
endpoint = tcp://127.0.0.1:5555
pubsub_endpoint = tcp://127.0.0.1:5556
#stats_endpoint = tcp://127.0.0.1:5557                                                                                    

[watcher:web]
cmd = chaussette --fd $(circus.sockets.web) paste:server.ini
use_sockets = True
# LWR must be single-process for now...
numprocesses = 1


[socket:web]
host = localhost
port = 8913



## Configure Python loggers.
[loggers]
keys = root,lwr

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_lwr]
level = DEBUG
handlers = console
qualname = lwr
propagate = 0

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = DEBUG
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

